* {
    box-sizing: border-box;
}

body {
    font-size: 80%;
    height   : 500px;
    width    : 600px;
    overflow : hidden;
    border   : 1px solid;
}

.tab-form {
    overflow-y    : scroll;
    height        : 450px;
    padding-block : 15px;
    padding-inline: 10px;
}

.tab-form::-webkit-scrollbar {
    width: 5px;
}

.tab-form::-webkit-scrollbar-thumb {
    background: #c7c7c7;
}


.submit-button {
    border-color : rgb(27, 31, 36, 0.15);
    padding      : 5px 19px;
    background   : #f6f8fa;
    border-radius: 5px;
    font-size    : 14px;
    line-height  : 19px;
    text-align   : center;
    color        : #24292f;
    font-weight  : 500;
    line-height  : 20px;
    white-space  : nowrap;
    display      : block;
    margin       : 0 auto;
    margin-top   : 10px;
}

.select-all {
    padding         : 10px 13px;
    margin          : auto;
    background-color: #f6f8fa;
    height          : 40px;
    border-radius   : 3px;
    border          : 1px solid #d0d7de;
}

.header-group {
    display        : flex;
    justify-content: space-between;
}

.header-group-container {
    display: flex;
}

.selected-count {
    padding-top: 2px;
    flex-basis : 1 1 10%;
}

.selected-count-hide {
    display: none;
}

.tab-label {
    display  : flex;
    flex-wrap: wrap
}

.tab-groups {
    list-style          : none;
    padding-inline-start: 13px;
}

.individual-tab {
    margin: 10px 0;
}

.tab-input {
    flex        : 0 1 2%;
    position    : relative;
    top         : 1px;
    margin-right: 5px;
}

.tab-title {
    overflow-wrap: anywhere;
    hyphens      : auto;
    flex         : 1;
    padding-left : 5px;
}

.tab-url {
    line-height  : 1.75;
    flex-basis   : 100%;
    display      : block;
    margin-top   : 1px;
    margin-bottom: 3px;
    color        : #737373;
    margin-left  : 25px;
    overflow-wrap: anywhere;
    hyphens      : auto;
}